<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="timeSheetForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!timeSheetForm.valid">Save</button> |
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h2>Date: {{timeSheetForm.value.date | date}}</h2>
        </div>
      </div>
      <br>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="status">Status</label>
            <select formControlName="status" class="form-control">
              <!-- <option disabled>Select Type</option> -->
              <option [value]="inProgress">In Progress</option>
              <option [value]="approved">Approve</option>
              <option [value]="rejected">Reject</option>
          </select>
          </div>
        </div>
      </div>
      <br>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <div>
            <h3>Type: {{timeSheetForm.value.type==0?"Work Day":"Leave Day"}}</h3>
          </div>
        </div>
      </div>
      <br>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <div>
            <h4>Duration: {{timeSheetForm.value.startTime}} - {{timeSheetForm.value.endTime}}</h4>
          </div>
        </div>
      </div>
      <br>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <div>
            <h4>Description: {{timeSheetForm.value.description}}</h4>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="timeSheetForm.value.imagePath!=null">
        <div class="col-xs-12">
          <div>
            <img [src]="timeSheetForm.value.imagePath" alt="email screenshot" width="250" height="300">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>