<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="timeSheetForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!timeSheetForm.valid && !photoUploaded">Save</button> |
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Type</label>
            <select formControlName="type" class="form-control" (change)="onTypeChange($event)">
              <!-- <option disabled>Select Type</option> -->
              <option [value]="workDay">Work Day</option>
              <option [value]="leaveDay"> Leave Day</option>
          </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="date">Date</label>
            <input type="date" id="date" formControlName="date" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="startTime">Start Time</label>
            <input type="time" id="startTime" formControlName="startTime" class="form-control" #endTime>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="endTime">End Time</label>
            <input type="time" id="endTime" formControlName="endTime" class="form-control" value="endTime.value">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" id="description" formControlName="description" class="form-control" rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="isLeaveDay">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Please upload a leave approval email screenshot.</label>
            <input type="file" accept="image/*" class="form-control" (change)="selectFile($event)" formControlName="imagePath">
            <button
              type="button"
              class="btn btn-success btn-sm"
              [disabled]="!selectedFile"
              (click)="uploadPhoto()"
            >
              Upload
            </button>
          </div> 
        </div>
      </div>
    </form>
  </div>
</div>